<nav>
    <ul>
        <li><a href="PaginaPrincipal.php"><i class="icon-home"></i>Inicio</a></li>
        <li><a href="AplicaConNosotros.php"><i class="icon-apply"></i>Inscribete</a></li>
        <li><a href="contactos"><i class="icon-contact"></i>Contactanos</a></li>
        <li><a href="acercade"><i class="icon-about"></i>Acerca de</a></li>
    </ul>
</nav>